* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-image: url(https://f.vividscreen.info/soft/0202fbf665fad76e9a52368455963b79/DC-Comics-Superheroes-1920x1200.jpg);
  color: white;
}

body .container {
  width: 85%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 40px;
}

body .container .card {
  width: 14.6666666667%;
  height: 650px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
  border: 1px solid black;
  transition: 0.5s ease-in;
}

body .container .card:hover {
  filter: contrast(150%);
  border: 1px solid yellowgreen;
}

body .container .card .text {
  overflow-y: auto;
}

body .container .interaction {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  justify-content: space-around;
}

body .container .interaction a {
  text-decoration: none;
  color: yellow;
  transition: 0.5s ease-in;
  background-color: crimson;
  padding: 5px;
  border-radius: 15px;
}

body .container .interaction a:hover {
  color: white;
  text-decoration: underline;
}

.detail-container {
  width: 90%;
  margin: 100px auto;
  display: flex;
  -moz-column-gap: 5%;
       column-gap: 5%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
}

.detail-container a {
  align-self: center;
  text-decoration: none;
  color: white;
  background-color: rgba(11, 27, 99, 0.712);
  padding: 10px 20px;
  border-radius: 15px;
  border: 1px solid black;
}

.detail-container .left,
.detail-container .right {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 45%;
  padding: 20px;
  row-gap: 20px;
}

.detail-container img {
  width: 40%;
}

