* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: lightblue;


    .container {
        width: 85%;
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 40px;

        .card {
            width: calc(100% / 6) - 2%;
            height: 650px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            text-align: center;
            border: 1px solid black;
            transition: 0.5s ease-in;

            &:hover {
                filter: contrast(150%);
                border: 1px solid yellowgreen;
            }

            .text {
                overflow-y: auto;
            }
        }
    }
}

.detail-container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    column-gap: 5%;
    border: 1px solid black;
    justify-content: space-between;

    a {
        align-self: center;
        text-decoration: none;
        color: black;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px 20px;
        border-radius: 15px;
        border: 1px solid black;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 45%;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        row-gap: 20px;
    }

    img {
        width: 40%;
    }
}
